version: 2.1
executors:
  alpine:
    docker:
      - image: alpine

#----------------------------------------
# Jobs
#----------------------------------------
jobs:
  persist:
    executor: alpine
    steps:
      - run:
          name: pwd
          command: |
            pwd
      - run:
          name: create text
          command: |
            echo -e "this is test.\n" >> test.txt
      - persist_to_workspace:
          root: .
          paths:
            - test.txt

  attach:
    executor: alpine
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: pwd
          command: |
            pwd
      - run:
          name: ls -al .
          command: |
            ls -al .
      - run:
          name: ls -al ~/
          command: |
            ls -al ~/
      
            

#----------------------------------------
# Workflows
#----------------------------------------
workflows:

  workflow_1:
    jobs:
      - persist:
      - attach:
          requires:
            - persist


